*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #000000;
}

header{
    display: flex;
    justify-content: center;
    background-image: url(./assets/ninjahead.svg);
    background-position: center;
    background-position: bottom;
    background-size: 25vh;
    background-repeat: no-repeat;
    height: 50vh;
    background-color: #3de07e;
    margin-bottom: 60px;
}
header > h1{
    align-self: center;
    
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 40px 0;
}

.card {
    flex: 0 0 250px;
    margin: 10px;
    color: #ffffff;
}

.card img {
    height: 250px;
    width: 250px;
    justify-content: center;
}

.card h2, p{
    padding-left: 5px;
}

.card button {
    align-items: flex-end;
    align-content: flex-end;
    align-self: flex-end;
    justify-content: flex-end;

}


.card-big{
    background-color: #ffffff;
    color:#000000;
    flex: 0 0 390px;
}

.card-big img{
    height: 390px;
    width: 390px;
    justify-content: center;
}

footer{
    background-color: #333333;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
